.project
.apt_generated
.settings
.DS_Store
.classpath
.idea
.factorypath
.gradle


/*/build/
*/build/
/gen
/bin
/out
/generated
/build
.iml

UAVBox.iml
local.properties

bin/R.txt
/*.iml

com_crashlytics_export_strings.xml
crashlytics-build.properties

*.iml
package-lock.json
**/node_modules
*.log
**/.kotlintest