.project
.apt_generated
.settings
.DS_Store
.classpath
.idea
.factorypath
.gradle


/*/build/
*/build/
/gen
/bin
/out
/generated
/build
.iml

RouteCalculator.iml
local.properties

bin/classes/com/actionbarsherlock/R$layout.class
bin/R.txt
/*.iml

com_crashlytics_export_strings.xml
crashlytics-build.properties

*.iml
app/src/main/res/values-iw/strings.xml
package-lock.json
**/node_modules
*.log
**/.kotlintest